<div class = "container text-center">

	 <h2> <%=@task.note %></h2> <br> 
	
	          <h3> created_on :
	           <h4> <%= @task.created_at %></h4> </h3> <br/>
              <h3> completed_at :   
	          <h4> <%= @task.completed_at %></h4> </h3><br/>
      <div> <%= link_to 'Home',root_path(@task),class: 'btn btn-primary'%>
     </div>      


 </div>